@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Toastify color */
  --toastify-color-info: #29b6f6;
  --toastify-color-success: #66bb6a;
  --toastify-color-warning: #ffa726;
  --toastify-color-error: #f44336;
  --toastify-font-family: "Montserrat", sans-serif;

  --width-layout-xl: 960px;
  --width-layout-2xl: 1180px;
  --width-layout-3xl: 70%;
  --width-detail-film-layout-2xlm: calc(100% - 60px);
  --width-detail-film-layout-slm: calc(100% - 160px);
  --width-detail-film-layout-clm: 100%;
  --bg-search-btn: #2c2c2e;
  --bg-dimmer: rgba(0, 0, 0, 0.9);
  --bg-btn-active-pagination: rgba(255, 255, 255, 0.16);
  --bg-btn-hover-pagination: rgba(255, 255, 255, 0.1);
  --bg-btn-hover-active-pagination: rgba(255, 255, 255, 0.24);
  --bd-black: #000;
  --bd-btn-pagination-color: rgba(255, 255, 255, 0.23);
  --bd-filed-form-color: rgb(53, 55, 61);
  --bd-select-menu: rgb(155, 155, 155);
  --bd-active: rgb(202, 233, 98);
  --bg-search-form: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    #202020;
  --bg-process-slider-color: linear-gradient(-90deg, #1fc591, #23d41e 97%);
  --bg-content-area-color: linear-gradient(180deg, #1d1d1e 0, rgba(51, 53, 70, 0) 100%);
  --bg-slider-color: hsla(0, 0%, 100%, 0.5);
  --bg-layout: #000;
  --bg-layout-loading: rgba(0, 0, 0, 0.55);
  --bg-bar-controls: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.33) 0,
    rgba(0, 0, 0, 0.86)
  );
  --bg-player: #202125;
  --bg-footer: rgb(17, 19, 25);
  --bg-field: #111;
  --bg-sidebar: #1f1f1f;
  --bg-disabled: #2c2c2c;
  --bg-green: #cae962;
  --bg-multiport: rgb(35, 37, 43);
  --bg-odd-color: rgb(43, 44, 48);
  --bg-select-color: rgb(74, 75, 81);
  --bg-block: rgba(255, 255, 255, .08);
  --bg-white: #fff;
  --bg-linear-to-right: linear-gradient(270deg, #000000 20%, transparent 100%);
  --bg-linear-to-left: linear-gradient(90deg, #000000 20%, transparent 100%);
  --bg-btn-primary: linear-gradient(114.88deg, #fe592a 0%, #e93013 97.15%);
  --bg-hover-btn-primary: #ff5833;
  --bg-menu-items: rgba(0, 0, 0, 0.05);
  --bg-layer-btn: rgba(28, 28, 34, 0.9);
  --primary-color: #fff;
  --secondary-color: #9b9b9b;
  --thirty-color: #d2d2d2;
  --items-color: #a6a6a6;
  --hover-color: #ff6500;
  --title-color: #aaa;
  --dark-color: #333;
}
.Toastify__toast {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
  text-decoration: underline;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #000;
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("./assets/fonts/SF-UI-Display-Light.95c05a5.ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./assets/fonts/SF-UI-Display-Regular.64924ba.ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("./assets/fonts/SF-UI-Display-Semibold.43b6b0c.ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("./assets/fonts/SF-UI-Display-Bold.30f8651.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4); /* Điều chỉnh scale để đạt được kích thước mong muốn */
    opacity: 0;
  }
}

@keyframes flicker {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  25% {
    transform: scale(0.25);
    opacity: 0.35;
  }
  75% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
};

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "SFProDisplay", Arial, sans-serif;
  text-rendering: optimizeSpeed;
  text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div,
p {
  word-break: break-word;
}
li {
  list-style-type: none;
}

.film-detail {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-layout);
  min-height: 100dvh;
}

p,
a,
span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.ripple-frame {
  position: absolute;
  border-radius: 50%;
  transform-origin: center;
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

.flicker-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: center;
  animation: flicker 900ms linear infinite;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

video {
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.open-modal {
  overflow: hidden;
}

input,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

input[type="range"][name="slider"] {
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"][name="slider"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}

input[type="range"][name="slider"]::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
}

.thumb-cls,
.track-cls {
  background-image: var(--bg-process-slider-color);
}

.swiper-pagination-clickable {
  right: 0;
}

.separator-item {
  margin: 6px 0;
  border-left: 1px solid var(--bd-filed-form-color);
}

@media screen and (min-width: 1280px) {
  .separator-item:nth-child(4n + 1) {
    border-left: 1px solid transparent;
  }
}

@media screen and (max-width: 1279px) {
  .separator-item:nth-child(3n + 1) {
    border-left: 1px solid transparent;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.video-wrapper:fullscreen video {
  object-fit: contain;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

/* video:-ms-fullscreen */
/* video:-moz-full-screen */
/* video:-webkit-full-screen */
video:fullscreen ~ .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.notification-title {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 224px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -12px;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #8400ff, 1px 1px 0 #ff005a;
  letter-spacing: -20px;
}

.notification-content {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  left: 50%;
  top: 110px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 0 #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

.btnLogin {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 850px) {
  .notification-title {
    font-size: 200px;
  }

  .notification-content {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .notification-title {
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: -6px;
    width: 100%;
    text-align: center;
  }

  .notification-content {
    font-size: 22px;
    letter-spacing: 8px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .notification-title {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: -6px;
    width: 100%;
    text-align: center;
  }

  .notification-content {
    font-size: 18px;
    letter-spacing: 8px;
    margin-top: 10px;
  }
}
